
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,300;0,700;1,300;1,700&family=Tillana:wght@400;600;700;800&display=swap');



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    font-family: 'Tillana', sans-serif; 
    background-image: linear-gradient(180deg, red, transparent);
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.btn-replay {
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-replay:hover {
    background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 90px;
    width: 90px;
    box-sizing: border-box;
    border: 16px solid rgb(67, 195, 255);
    border-radius: 50%;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
    /* background-color: yellow; */
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: red;
}

.cross::before {
    left: 50%;
    width: 30%;
    height: 100%;
    /* use margin to center the element by making it move 15% towards left */
    margin-left: -15%;
}

.cross::after {
    top: 50%;
    width: 100%;
    height: 30%;
    margin-top: -15%;
}


/* **************** SCORE BOARD  ******************* */

#board-heading {
    text-align: center;
    margin: 8px;
}
 #pl-1-score, #pl-2-score {
    font-size: 28px;
    font-weight: bold;
 }

.score {
    display: flex;
}

.score div {
    width: 50%;
    text-align: center;
}

.score-board {
    background-color: rgb(76 188 212);
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    color: white;
}


